@media screen and (max-width: 540px) {
    table.info thead {
      display: none;
    }

    table.info tr {
      display: block;
      margin-bottom: 1rem;
      border-bottom: 2px solid #e8e9eb;
    }
    table.info td {
      display: block;
    }
  }